[safe]
	directory = C:\\Users\\lorenzo.ostolani\\Desktop\\Ostolani_LessonsExamples
	directory = C:/Users/lorenzo.ostolani/Desktop/Informatica/SmartHouse
[user]
	name = lorenzoostolani
	email = lorenzo.ostolani.stud@ispascalcomandini.it
